@charset "UTF-8";

body {
  color: #fff;
}

/************header ************/

header {
  background: black;
  position: fixed;
  width: 100%; /*쪼그라지지않게 지정*/
  transition: 500ms ease-in;
  z-index: 100;
}

.header_in{
  max-width: 1240px;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: black;
  color: #fff;
}

header h1 span{
  font-size: 24px;
  font-weight: 900;
}

header nav ul::after {
  display:block;
  content: "";
  clear: both;
}

header nav ul > li {
  float: left;
}

header nav ul > li > a {
  display: block;
  padding: 15px;
  font-size: 14px;
}

header nav ul > li > a:hover {
  color: #4476D3;
}


/* 평소 pc버전 : 안보임 , 모바일화면 : 보임 */
.trigger, .close {
  display: none; 
}

/* 775보다 작을 때 - 모바일 상태*/
@media (max-width:774px){
  header nav {
    position: fixed;
    top:0;
    right: -100%;
    height: 100vh; /* 헤더가 막혀있을 때*/
    width: 300px;
    background: #fff;
    z-index: 101;
    box-shadow: 0 0 30px rgba(0,0,0,50%);
    transition: .5s ease-in;
    color:#000;
  }

  header nav.active {
    right: 0;
  }

  .trigger, .close {
    display: block;
  }
  .trigger i {
    font-size: 20px;
  }
  .close {
    position: absolute;
    left: 20px;
    top: 20px;
    background: transparent;
    cursor: pointer;
  }
  .close i {
    font-size: 24px;
  }

  header nav ul {
    padding: 100px 0 0 30px;
  }

  header nav ul > li {
    float: none;
  }

  header nav ul > li > a {
    padding: 20px;
    font-size: 20px;
  }
  header.on nav ul > li > a {
    padding: 20px;
    font-size: 20px;
  }

  .main_text{
    transform: translate(-50%, -50%); /* 폰트 위치*/
  }
} 



/************ section ************/

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section h2 {
  font-size: 3em;
  margin-bottom: 50px;
}

#s1 { 
  background: #000;
  height: 100vh; 
}

.main_text {
  position: absolute;
  top: 25%;
  left: 48%;
  transform: translate(-29vw, -60%); /* 폰트 위치*/
  color: #fff;
  white-space: nowrap;
}

.main_text h2 {
  margin-bottom: clamp(15px,5vw,20px);
  text-shadow: 0 0 8px rgba(255,255,255,0.4);
  font-size: clamp(36px,12vw,70px);
}
/*
  clamp(최소사이즈,변하는값,최대사이즈) - 사이즈를 반응형으로
*/

.main_text p {
  font-size: clamp(12px,4vw,17px);
}


/****** about_wrap ******/
.about_wrap {
  margin-top: 170px;
}

.about_wrap ul {
  display: flex;
  column-gap: 70px;
}

.about_layout {
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.about_layout:hover div {
  transform: scale(1.08);
}

.about_layout div {
  display: block;
  box-shadow: 0 0 8px rgba(255,255,255,0.4);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transition: 0.3s;
}

.about_layout .about_img{
  background: url(../img/about_img.png) center center/ cover;
}
.about_layout .about_img2{
  background: #E3E4E5 url(../img/about_img2.png) center center/ cover;
}
.about_layout .about_img3{
  background: url(../img/about_img3.png) center center/ cover;
}

.about_layout p {
  margin: 20px 0;
  font-size: 1.6em;
}

.about_layout p .job{
  font-size: 0.5em;
  margin-left: 10px;
}

.about_layout .keyword span {
  font-size: 1em;
  line-height: 20px;
  padding: 2px 0;
}


@media (max-width:1300px){
  .about_wrap ul {
    column-gap: 40px;
  }
  
  .about_layout div {
    width: 250px;
    height: 250px;
  }
}

@media (max-width:912px){
  .main_text {
    top: 20%;
    left: 48%;
    transform: translate(-40vw, -5%); /* 폰트 위치*/
  }

  .about_wrap ul {
    display: flex;
    column-gap: 70px;
  }

  .about_layout div {
    width: 200px;
    height: 200px;
  }

  .about_layout p {
    margin: 20px 0;
    font-size: 1.6em;
  }
}

@media (max-width:768px){
  .main_text {
    transform: translate(-17vw, -100%); /* 폰트 위치*/
  }

  .main_text h2 {
    font-size: clamp(22px,12vw,50px);
  }

  .main_text p {
    display: none;
  }

  .about_wrap ul {
    flex-direction: column;
    transform: translateY(-40px);
  }

  .about_layout {
    margin-top: 22px;
  }
  .about_layout div {
    width: 180px;
    height: 180px;
  }

  .about_layout p {
    margin: 10px 0;
    font-size: 1.5em;
  }
  
  .about_layout span {
    display: none;
  }
  
  .about_layout .keyword {
    display: block;
  }
}

@media (max-width:540px){
  .main_text {
    transform: translate(-22vw, -100%); /* 폰트 위치*/
  }

  .about_layout {
    margin-top: 15px;
  }

  .about_layout div {
    width: 150px;
    height: 150px;
  }

  .about_layout p {
    margin: 5px 0;
    font-size: 1em;
  }
}


@media (max-width:415px){
  .main_text {
    top: 14%;
    left: 48%;
    transform: translate(-30vw, -50%); /* 폰트 위치*/
  }
  .about_layout div {
    width: 170px;
    height: 170px;
  }
}

@media (max-width:375px){
  .main_text {
    top: 14%;
    left: 48%;
    transform: translate(-30vw, -50%); /* 폰트 위치*/
  }

  .about_wrap ul {
    transform: translateY(-40px);
  }

  .about_layout div {
    width: 130px;
    height: 130px;
  }

  .about_layout p {
    margin: 5px 0;
    font-size: 1.2em;
  }
}


/************ about_Pop ************/
  .dark{
    position: fixed;
    display: none;
    background: rgba(0,0,0,.8);
    z-index: 10;
    inset: 0; /* 상위요소까지의 거리 설정, 일종의 margin 설정 */
  }

  .aboutPop,.aboutPop2,.aboutPop3 { 
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%); /* 나 자신의 위치 */
    z-index: 11;
    width: 50%;
    min-width: 320px;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    text-align: center;
    display: none;
  }

  .aboutPop_con,.aboutPop_con2,.aboutPop_con3 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
  }

  .aboutPop_con img {
    width: 220px;
  }

  .aboutPop_con2 img {
    height: 450px;
  }

  .aboutPop_con3 img {
    height: 450px;
  }

  .aboutPop_con p,.aboutPop_con2 p,.aboutPop_con3 p {
    padding: 20px;
    color: #fff;
    line-height: 22px;
    background: #000;
    width: 220px;
    border-radius: 20px;
    text-align: center;
  }

  .intro_wrap {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  
  .intro {
    color: #000;
    background: none;
    font-size: 2em;
    text-align: center;
    font-weight: 600;
  }

  .intro_wrap  p{
    text-align: center;
  }

  .aboutPop_close,.aboutPop_close2, .aboutPop_close3{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    cursor: pointer;
  }

  .icon_close,.icon_close2, .icon_close3{
    width: 24px;
    height: 24px;
    line-height: 0;
    display: block;
    font-size: 1px;
    color: transparent;
    background: url('/img/ico_close.png') no-repeat center center/ contain;
  }


@media (max-width:1035px){
  .aboutPop_con img{
    margin-bottom: 20px;
    width: 130px;
  }
  .aboutPop_con2 img{
    margin-bottom: 20px;
    height: 300px;
  }
  .aboutPop_con3 img {
    height: 300px;
    margin-bottom: 20px;
  }
  .aboutPop_con,.aboutPop_con2, .aboutPop_con3{
    flex-direction: column;
  }
}

@media (max-height:600px){
  .aboutPop_con img{
    margin-bottom: 10px;
    width: 100px;
  }
  .aboutPop_con2 img{
    margin-bottom: 10px;
    height: 250px;
  }
  .aboutPop_con3 img {
    height: 260px;
    margin-bottom: 10px;
  }
  .aboutPop_con,.aboutPop_con2, .aboutPop_con3{
    flex-direction: column;
  }
}