@import "./variable.scss";

@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

body {
  color: #fff;
  font-family: 'NanumBarunGothic';
}

/************header ************/

header {
  background: black;
  position: fixed;
  width: 100%; /*쪼그라지지않게 지정*/
  z-index: 100;
}

.header_in{
  max-width: 1240px;
  margin: auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: black;
  color: #fff;

  h1 span{
    font-size: 24px;
    font-weight: 900;
  }
}

nav {
  &.active {
    @media (max-width:774px){
      right: 0;
    }
  }
  ul {
    &::after{
      display:block;
      content: "";
      clear: both;
    }
  
    li {
      float: left;

      a {
        display: block;
        padding: 15px;
        font-size: 14px;
        
        }

        @media (max-width:774px){
          padding: 20px;
          font-size: 20px;
        }
      }

      @media (max-width:774px){
      float: none;
      }
    }

    @media (max-width:774px){
      padding: 100px 0 0 30px;
    }
  }
  @media (max-width:774px){
    position: fixed;
    top:0;
    right: -100%;
    height: 100vh; /* 헤더가 막혀있을 때*/
    width: 300px;
    background: #fff;
    z-index: 101;
    box-shadow: 0 0 30px rgba(0,0,0,50%);
    transition: .5s ease-in;
    color:#000;
  }
}

.trigger{
  display: none; 
  @media (max-width:774px){
    display: block;
  }
  i{
    @media (max-width:774px){
    font-size: 20px;
    }
  }
}

.close {
  display: none; 
  @media (max-width:774px){
    display: block;
    position: absolute;
    left: 20px;
    top: 20px;
    background: transparent;
    cursor: pointer;
  }
  i{
    @media (max-width:774px){
    font-size: 24px;
    }
  }
}


/************ section ************/

.main_text_wrap {
  opacity: 0;
  animation:opacity 2s forwards;
  animation-delay:1s ;

  @keyframes opacity { 
    0% { opacity: 0;} /* 시작 */
    100% { opacity: 1; }  /* 끝 */
    }
}

.about_character {
  opacity: 0;
  animation:opacity 4.5s forwards;
  animation-delay:3s ;
}

#s1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: black;
  height: 100vh;
}

.main_text {
  position: absolute;
  top: 25%;
  left: 48%;
  transform: translate(-29vw, -60%); /* 폰트 위치*/
  color: #fff;
  white-space: nowrap;


  @media (max-width:912px){
    top: 20%;
    transform: translate(-40vw, -50%);
  }

  @media (max-width:768px){
    top:15%;
    transform: translate(-25vw, -50%); 
  }

  @media (max-width:540px){
    top: 18%;
    transform: translate(-23vw, -100%); 
  }

  @media (max-width:415px){
    top: 14%;
    transform: translate(-30vw, -50%); 
  }

  h2 {
    font-size: 3em;
    margin-bottom: 50px;
    margin-bottom: clamp(15px,5vw,20px);
    text-shadow: 0 0 10px rgba(255,255,255,0.4);
    font-size: clamp(36px,12vw,60px);
    font-family: 'PartialSansKR-Regular';
    
    @media (max-width:540px){
      font-size: clamp(26px,12vw,40px);
    }

    @media (max-width:376px){
      font-size: clamp(20px,12vw,30px);
    }
  }

  p {
    font-size: clamp(12px,4vw,17px);

    @media (max-width:768px){
      display: none;
    }
  }
}

/****** about_wrap ******/
.about_wrap {
  margin-top: 170px;

  ul {
    display: flex;
    column-gap: 70px;

    @media (max-width:1300px){
      column-gap: 40px;
    }

    @media (max-width:912px){
      column-gap: 30px;
    }
    @media (max-width:768px){
      flex-direction: column;
      transform: translateY(-40px);
    }
  }
}

.about_layout {
  color: #fff;
  text-align: center;
  cursor: pointer;

  @media (max-width:768px){
    margin-top: 22px;
  }

  @media (max-width:540px){
    margin-top: 15px;
  }

  &:hover div {
  transform: scale(1.08);
  }

  div {
    display: block;
    box-shadow: 0 0 8px rgba(255,255,255,0.4);
    border-radius: 50%;
    width: 280px;
    height: 280px;
    transition: 0.3s;

    @media (max-width:1300px){
      width: 250px;
      height: 250px;
    }

    @media (max-width:912px){
      width: 200px;
      height: 200px;
    }

    @media (max-width:768px){
      width: 180px;
      height: 180px;
    }

    @media (max-width:540px){
      width: 150px;
      height: 150px;
    }

    @media (max-width:415px){
      width: 170px;
      height: 170px;
    }
    @media (max-width:376px){
      width: 130px;
      height: 130px;
    }

    &.about_img{
      background: url(../img/about_img.png) center center/ cover;
    }
  
    &.about_img2{
      background: #E3E4E5 url(../img/about_img2.png) center center/ cover;
    }
  
    &.about_img3{
      background: url(../img/about_img3.png) center center/ cover;
    }
  }

  p {
    font-family: 'PartialSansKR-Regular';
    margin: 20px 0;
    font-size: 1.6em;
    letter-spacing:3px;

    @media (max-width:912px){
      margin: 20px 0;
      font-size: 1.6em;
    }

    @media (max-width:768px){
      margin: 10px 0;
      font-size: 1.5em;
    }

    @media (max-width:540px){
      margin: 5px 0;
      font-size: 1em;
    }
    @media (max-width:415px){
      margin: 10px 0;
    }

    @media (max-width:375px){
      margin: 5px 0;
    }

    .job{
      font-size: 0.5em;
      margin-left: 10px;
      font-family: 'NanumBarunGothic';
      letter-spacing: normal;
    }
  }

  .keyword span {
    font-family: 'NanumBarunGothic';
    font-size: 0.9em;
    line-height: 20px;
    padding: 0 3px;

    @media (max-width:768px){
      display: none;
    }
  }
}

/************ about_Pop ************/
.dark{
  position: fixed;
  display: none;
  background: rgba(0,0,0,.8);
  z-index: 10;
  inset: 0; /* 상위요소까지의 거리 설정, 일종의 margin 설정 */
}

.aboutPop {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%); /* 나 자신의 위치 */
  z-index: 11;
  width: 50%;
  min-width: 320px;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  text-align: center;
  display: none;

  .Pop_img1{
    width: 220px;

    @media (max-width:1035px){
      margin-bottom: 20px;
      width: 130px;
    }

    @media (max-width:376px){
      width: 100px;
    }
  }

  .Pop_img2{
    height: 450px;

    @media (max-width:1035px){
      margin-bottom: 20px;
      height: 300px;
    }
    @media (max-width:376px){
      height: 200px;
    }
  }

  .Pop_img3{
    height: 450px;

    @media (max-width:1035px){
      margin-bottom: 20px;
      height: 300px;
    }
    @media (max-width:376px){
      height: 200px;
    }
  }

  button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    background: transparent;
    cursor: pointer;

    .icon_close {
      width: 24px;
      height: 24px;
      line-height: 0;
      display: block;
      font-size: 1px;
      color: transparent;
      background: url('/img/ico_close.png') no-repeat center center/ contain;
    }
  }
}

.aboutPop_con{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;

  @media (max-width:1035px){
    flex-direction: column;
  }

  p {
    padding: 40px 20px;
    color: #fff;
    line-height: 22px;
    background: #000;
    width: 220px;
    border-radius: 20px;
    text-align: center;
  }
}

.intro_wrap {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  .intro {
    color: #000;
    background: none;
    font-family: 'PartialSansKR-Regular';
    letter-spacing:3.5px;
    font-size: 2em;
    text-align: center;
    font-weight: 600;
  }

  p{
    text-align: center;
  }
}


