
// 모바일
$mobile: 375px;
$mobile2: 415px;
$mobile3: 600px; //height

// 모바일에서 태블릿
$tabletToMobile: 540px;

// 태블릿
$tablet: 768px;
$tablet2: 774px;

// 태블릿에서 노트북
$laptopToTablet: 912px;

// 노트북
$laptop: 1035px;

// 노트북에서 데스크탑
$desktopToLaptop: 1300px;

// 데스크탑
$desktop: 1800px;