@charset "utf-8";

@import url('slick.css');
@import url('swiper.css');
@import url('font.css'); 
@import url('layout.css'); 
@import url('style.css'); 


html {
  height: 100%; 
  overflow-y: auto;
}

body { 
  overflow: hidden;
  margin-top: 0 
  !important; min-width: 320px; 
  color: #000; 
  line-height: 20px; 
  font-size: 13px; 
  font-family: 'Poppins', 'Noto Sans KR', sans-serif; 
  letter-spacing: -0.25px; 
  word-break: break-all; 
  word-wrap: break-word; 
  word-break: keep-all; 
  font-weight: 500; }

h1, h2, h3, h4, h5, h6 { font-family: 'Poppins', 'Noto Sans KR',  sans-serif;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p, button {
  margin: 0; padding: 0;
  -webkit-text-size-adjust: none;}

fieldset, img, abbr, acronym { border: 0 none;}

legend { position: absolute; 
  height: 0; 
  line-height: 0; 
  font-size: 0; 
  overflow: hidden;}

legend.showlegend { position: static; 
  line-height: 14px; 
  font-size: 12px; 
  overflow: visible;}
address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal;}

ol, ul { list-style: none; }
q:before, q:after { content:'';}
table { border-collapse: collapse; border-spacing: 0;}
caption { 
  height: 0; 
  line-height: 0; 
  font-size: 0; 
  overflow: hidden; 
  text-indent: -10000px;}

hr {display: none;}

a { color: #000; text-decoration: none; cursor: pointer;}

button {border: 0 none; background: none;}
button::-moz-focus-inner,input::-moz-focus-inner {border: 0; padding: 0;}
button, input, select, textarea { 
  color: #000; 
  line-height: 19px; 
  font-size: 13px; 
  font-family: 'Poppins', 'Noto Sans KR', sans-serif; vertical-align: middle;}

select { -webkit-border-radius: 0;}
select 
{  appearance: none;
   -moz-appearance: none;
   -webkit-appearance: none;
   background-image: url(../../images/contents/select_arrow.png);
   background-repeat: no-repeat;
    /* 셀렉박스 스타일 초기화, 화살표 이미지 갖다 박아라 */
   background-position: calc(100% - 15px) center;
   background-position: -webkit-calc(100% - 15px) center; background-position: -moz-calc(100% - 15px) center;
 
}

select::-ms-expand {
    display: none; }

input[type="text"],input[type="password"],input[type="number"],input[type="tel"],input[type="email"],input[type="button"],input[type="submit"],textarea {
    border-radius:0 !important; 
    -webkit-appearance: none;
    -moz-appearance: none; 
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {cursor: pointer; overflow: visible; -webkit-appearance: button;}
input[type="checkbox"],
input[type="radio"] {
  width: 14px; height: 14px; line-height: 14px; 
  box-sizing: border-box; 
  -webkit-border-radius: 0;}
input[type="search"] {box-sizing: content-box;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

input::-webkit-input-placeholder{color:#a0a0a0;}
input:-moz-input-placeholder{color:#a0a0a0;}
input::-moz-input-placeholder{color:#a0a0a0;}
input:-ms-input-placeholder{color:#a0a0a0;}
img {  vertical-align: top; }



