@charset "UTF-8";
/************header ************/

header {
    background: black;
    position: fixed;
    width: 100%; /*쪼그라지지않게 지정*/
    transition: 500ms ease-in;
    z-index: 100;
  }
  
  .header_in{
    max-width: 1240px;
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: black;
    color: #fff;
  }
  
  header h1 span{
    font-size: 24px;
    font-weight: 900;
  }
  
  header nav ul::after {
    display:block;
    content: "";
    clear: both;
  }
  
  header nav ul > li {
    float: left;
  }
  
  header nav ul > li > a {
    display: block;
    padding: 15px;
    font-size: 14px;
  }
  
  header nav ul > li > a:hover {
    color: #4476D3;
  }
  
  
  /* 평소 pc버전 : 안보임 , 모바일화면 : 보임 */
  .trigger, .close {
    display: none;
  }
  
  /* 775보다 작을 때 - 모바일 상태*/
  @media (max-width:774px){
    header nav {
      position: fixed;
      top:0;
      right: -100%;
      height: 100vh; /* 헤더가 막혀있을 때*/
      width: 300px;
      background: #fff;
      z-index: 101;
      box-shadow: 0 0 30px rgba(0,0,0,50%);
      transition: .5s ease-in;
      color:#000;
    }
  
    header nav.active {
      right: 0;
    }
  
    .trigger, .close {
      display: block;
    }
    .trigger i {
      font-size: 20px;
    }
    .close {
      position: absolute;
      left: 20px;
      top: 20px;
      background: transparent;
      cursor: pointer;
    }
    .close i {
      font-size: 24px;
    }
    header.on {
      background: rgb(108, 108, 155);
    }
  
    header nav ul {
      padding: 100px 0 0 30px;
    }
  
    header nav ul > li {
      float: none;
    }
  
    header nav ul > li > a {
      padding: 20px;
      font-size: 20px;
    }
    header.on nav ul > li > a {
      padding: 20px;
      font-size: 20px;
    }
  
    .main_text{
      transform: translate(-50%, -50%); /* 폰트 위치*/
    }
  }
body {
  min-width:360px;
}
section {
    background:black;
}
.swiper {
    width:100%;
    height:100%;
}
.swiper-button-prev::after {
  position:absolute;
  left:-30%;
}
.swiper-button-next::after {
  position:absolute;
  right:-30%;
}
.main {
    width:1440px;
    height:963px;
    margin:auto;
    position:relative;
}
.main_img {
    width:100%;
    height:70%;
}
.main img {
    width:100%;
}
.main_text {
  top:calc(50% - 720px);
  color:white;
  font-size:5em;
  position:absolute;
}
.main_text.one {

  left:calc(50% - 123px);
}
.main_text.two {

  left:calc(50% - 50px);
}
.main_text.thr {

  left:calc(50% + 18px);
}
.main_text.four {

  left:calc(50% + 105px);
}
.main_bottom {
  width:100%;
  height:30%;
  justify-content:center;
  display:flex;
  color:white;
}
.ranking {
  width:40%;
  height:100%;
}
.month_video {
  width:40%;
  height:100%;
}
.rank_text {
  margin:15px;
  white-space:nowrap;
}
.video_text {
  margin:15px;
  white-space:nowrap;
}
.game_content {
    width:1440px;
    height:963px;
    background:black;
    margin:auto;
    border:1px solid rgba(255, 255, 255, 0.233);
    position:relative;
    z-index:0;
}
.content_text {
    position:absolute;
    color:white;
    top:50px;
    left:80px;
    font-size:2em;
    font-weight:bold;
}
.game_content:nth-child(2) {
    padding:100px 50px;
}
.game_content:nth-child(3) {
    padding:100px 50px;
}
.game_content:nth-child(4) {
  padding:100px 50px;
}
.game_wrap {
    display:flex;
    justify-content:center;
    margin:70px 0;
    column-gap:30px;
    padding:0 15px;
}
.game_info {
    width:230px;
    height:240px;
    background:gray;
    border:1px solid white;
    border-radius:8px;
    overflow:hidden;
}
.info_img {
    overflow:hidden;
}
.game_info img:hover {
    transform:scale(1.1);
}
.game_info img {
    width:100%;
    height:200px;
}
.info_text {
    display:flex;
    justify-content:center;
    align-items:center;
    line-height:40px;
    color:white;
}
.game_slider {
    width:100%;
    height:100%;
    position:absolute;
    top:calc(50% - 240px);
    justify-content:center;
    z-index:2;
    flex-wrap:nowrap;
}
.slider_img {
    position:relative;
    width:100%;
    height:100%;
}
.game_slider img {
    width:100%;
    height:100%;
}
.slider_text {
    color:white;
    font-size:1.5em;
    position:absolute;
    z-index:3;
    left:0;
    bottom:10px;
    background:rgba(0,0,0,0.5);
}

@media (max-width:1440px) {
    .game_content {
        width:100%;
    }
    .main_text.two {
      left:calc(50% - 55px);
    }
    .main {
        width:100%;
    }
    .main img {
        width:100%;
    }
}
@media (max-width:1000px) {
  .main {
    height:100%;
  }
  .main_text {
    top:calc(30% - 720px);
  }
  .main_text.one {

    left:calc(50% - 113px);
  }
  .main_text.two {

    left:calc(50% - 41px);
  }
  .main_text.thr {

    left:calc(50% + 27px);
  }
  .main_text.four {

    left:calc(50% + 115px);
  }
  .main_bottom {
    flex-direction:column;
    height:100%;
    width:80%;
    margin:auto;
  }
  .ranking {
    width:80%;
    height:200px;
    margin:auto;
  }
  .month_video {
    width:100%;
    height:300px;
  }
}
@media (max-width:900px) {
    .game_wrap {
        width:100%;
        flex-wrap:wrap;
    }
    .game_info {
        width:40%;
        margin:10px 0;
    }
    .game_content:nth-child(2) {
        padding:50px 0px;
        height:100%;
    }
    .game_content:nth-child(3) {
        padding:50px 0px;
        height:100%;
    }
    .game_content:nth-child(4) {
      padding:50px 0px;
      height:100%;
  }
}
@media (max-width:775px) {
    .main_text.thr {
      left:calc(50% + 40px);
    }
    .main_text {
      top:calc(30% - 720px);
    }
}
@media (max-width:590px) {
    .game_info {
        width:70%;
    }
}
@media (max-width:510px) {
    .main_text {
        top:calc(30% - 720px);
        font-size:2em;
    }
    .main_bottom {
      width:100%;
    }
}
@media (max-width:480px) {
    .main_text {
      top:calc(30% - 720px);
      font-size:2em;
    }
    .game_info {
        width:100%;
    }
    .content_text {
      top:50px;
      left:20px;
    }
}